<section class="page-top-section set-bg " data-setbg="./../../../../assests/img/page-top-bg/1.jpg"
    style="background-image: url(&quot;./../../../../assets/img/page-top-bg/1.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2 id="aboutUS">About us</h2>
                <p id="about">
                    Well Log data analysis web application to help geologists,
                    geophysicists and any geoscience student to analysis wells
                    files data and make some decisions based on it.
                </p>

            </div>
        </div>
    </div>
</section>



<section class="team-section spad">
    <div class="container">
        <div class="team-text">
            <h2>Our Amazing Team</h2>
            <p>
                We trained at Information Technology Institute (ITI).<br />
                We built this Web Application To make well log data analysis easy for everyone.
                It doesn’t need to pay too much for software and go throw a long process for installation. Our
                application will be online, easy to access from any device at any time without too much complexity to
                use.
                Displaying some important graphs and make some important calculations on the data.
            </p>
        </div>
        <div class="row">
   
            <div class="col-md-4">
                <div class="team-member">
                    <img class="teamImg" src="./../../../../assets/images/Ahmed.PNG" alt="">
                    <div class="member-info">
                        <h3>Ahmed Abd-Elmaksood</h3>
                        <p>Software Developer</p>
                        <div class="footer-social">
                            <a href="https://www.facebook.com/ahmedhamada6575"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/ahmed-abdelmaksood/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-member">
                    <img class="teamImg" src="./../../../../assets/images/Hamed.jpg" alt="">
                    <div class="member-info">
                        <h3>Ahmed Hamed</h3>
                        <p>Software Engineer</p>
                        <div class="footer-social">
                            <a href="https://www.facebook.com/ahmed.m.hamed.927"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/ahmed-hamed-7b8b20146/"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-member">
                    <img class="teamImg" src="./../../../../assets/images/Eman.jpg" alt="">
                    <div class="member-info">
                        <h3>Eman Hosam</h3>
                        <p>Software Developer</p>
                        <div class="footer-social">
                            <a href="https://www.facebook.com/emmy.robert.7"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/eman-hosam-5b058b133/ "><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-member">
                    <img class="teamImg" src="./../../../../assets/images/May.jpg" alt="">
                    <div class="member-info">
                        <h3>May Zakaria</h3>
                        <p>Software Developer</p>
                        <div class="footer-social">
                            <a href="https://www.facebook.com/may.zakaria.9"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/may-zakaria-1a4428165/"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-member">
                    <img class="teamImg" src="./../../../../assets/images/sara.jfif" alt="">
                    <div class="member-info">
                        <h3>Sara Atef</h3>
                        <p>Software Developer</p>
                        <div class="footer-social">
                            <a href="https://www.facebook.com/sara.atef.5688476"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/sara-atef-b9517012b"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 d-flex align-items-center">
                <h3 id="file">If you want to test this application but you Don't have file to test,You can Download This
                    File here</h3>
            </div>
            <div class="col-lg-3 text-lg-right">
                <a href="./../../../../assets/Koluktak1.las" download="Koluktak1.las"
                    class="site-btn sb-dark">Download</a>
            </div>
        </div>
    </div>
</section>
<!-- j7tgdduj3bgfl5ebby25qwagwy2adtp72seix7otodm6mbctakbq -->