<!--------------Content------------------------------->
<!-- Page Preloder -->
<!-- <div id="preloder">
			<div class="loader"></div>
		</div> -->

<!-- Hero section  -->
<section class="hero-section">
	<div class="hero-slider owl-carousel owl-loaded owl-drag">
			
			
		<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-4557px, 0px, 0px); transition: all 0s ease 0s; width: 9116px;"><div class="owl-item cloned" style="width: 1519.2px;"><div class="hero-item set-bg" data-setbg="../../../../assets/img/oil_1.jpg" style="background-image: url(&quot;../../../../assets/img/oil_1.jpg&quot;);">
				<div class="container edit-responsive">
					<div class="row">
						<div class="col-xl-8">
							<h2><span>Power</span><span>&amp; Energy</span><span>Industry</span></h2>
							
						</div>
					</div>
				</div>
			</div></div><div class="owl-item cloned" style="width: 1519.2px;"><div class="hero-item set-bg" data-setbg="../../../../assets/img/oil_oil_1.jpg" style="background-image: url(&quot;../../../../assets/img/oil_1.jpg&quot;);">
				<div class="container edit-responsive">
					<div class="row">
						<div class="col-xl-8">
							<h2><span>Power</span><span>&amp; Energy</span><span>Industry</span></h2>
							
						</div>
					</div>
				</div>
			</div></div><div class="owl-item" style="width: 1519.2px;"><div class="hero-item set-bg" data-setbg="../../../../assets/img/oil_1.jpg" style="background-image: url(&quot;../../../../assets/img/oil_1.jpg&quot;);">
				<div class="container edit-responsive">
					<div class="row">
						<div class="col-xl-8">
							<h2><span>Power</span><span>&amp; Energy</span><span>Industry</span></h2>
							
						</div>
					</div>
				</div>
			</div></div><div class="owl-item animated owl-animated-in fadeIn active" style="width: 1519.2px;"><div class="hero-item set-bg" data-setbg="../../../../assets/img/hero-slider/1.jpg"style="background-image: url(&quot;../../../../assets/img/hero-slider/1.jpg&quot;);">
				<div class="container edit-responsive">
					<div class="row">
						<div class="col-xl-8">
							<h2><span>Power</span><span>&amp; Energy</span><span>Industry</span></h2>
							
						</div>
					</div>
				</div>
			</div></div><div class="owl-item cloned" ><div class="hero-item set-bg" data-setbg="../../../../assets/img/hero-slider/1.jpg" style="background-image: url(&quot;../../../../assets/img/hero-slider/1.jpg&quot;);">
				<div class="container edit-responsive">
					<div class="row">
						<div class="col-xl-8">
							<h2><span>Power</span><span>&amp; Energy</span><span>Industry</span></h2>
							
						</div>
					</div>
				</div>
			</div></div><div class="owl-item animated owl-animated-in fadeIn cloned" style="width: 1519.2px;"><div class="hero-item set-bg" data-setbg="../../../../assets/img/oil_1.jpg" style="background-image: url(&quot;../../../../assets/img/oil_1.jpg&quot;);">
				<div class="container edit-responsive">
					<div class="row">
						<div class="col-xl-8">
							<h2><span>Power</span><span>&amp; Energy</span><span>Industry</span></h2>
							
						</div>
					</div>
				</div>
			</div></div></div></div>
			<!-- <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right"></i></button></div><div class="owl-dots disabled"></div> -->
		</div>
</section>
<!-- Hero section end  -->

<!-- Services section  -->
<section class="services-section" id="services">
	<div class="services-warp">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="service-item">
						<div class="si-head">
							<div class="si-icon">
								<img src="../../../../assets/img/icons/cogwheel.png" alt="">
							</div>
							<h5>Display 7 types of graphs</h5>
						</div>
						<p>Gamma Ray</p>
						<p>Caliper</p>
						<p>Spontaneous</p>
						<p>Density</p>
						<p>Neutron</p>
						<p>Deep Resistivity</p>
						<p>Sonic</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-item">
						<div class="si-head">
							<div class="si-icon">
								<img src="../../../../assets/img/icons/helmet.png" alt="">
							</div>
							<h5>Calculate Volume of Shale</h5>
						</div>
						<p>Linear equation</p>
						<p>Larionov for Tertiary rocks (1969)</p>
						<p>Steiber (1970)</p>
						<p>Clavier (1971)</p>
						<p>Larionov for older rock (1969)</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-item">
						<div class="si-head">
							<div class="si-icon">
								<img src="../../../../assets/img/icons/wind-engine.png" alt="">
							</div>
							<h5>Control over graphs display</h5>
						</div>
						<p>Provide flexibility to user to modify/alter graph result through UI controls. </p>
					</div>
				</div>
				<!-- <div class="col-lg-4 col-md-6 offset-lg-4">
					<div class="service-item">
						<div class="si-head">
							<div class="si-icon">
								<img src="../../../../assets/img/icons/light-bulb.png" alt="">
							</div>
							<h5>Support Custom Calculations</h5>
						</div>
						<p>Calculate Density Porosity</p>
						<p>Calculate Total Porosity</p>
						<p>Calculate Effective Porosity</p>
						<p>Calculate Water Saturation</p>
						
					</div>
				</div> -->
				<!--<div class="col-lg-4 col-md-6">
					<div class="service-item">
						<div class="si-head">
							<div class="si-icon">
								<img src="../../../../assets/img/icons/pumpjack.png" alt="">
							</div>
							<h5>Oil & Lubricants</h5>
						</div>
						<p>Quisque orci purus, sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac
							accumsan auctor. Donec consequat arcu.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="service-item">
						<div class="si-head">
							<div class="si-icon">
								<img src="../../../../assets/img/icons/light-bulb.png" alt="">
							</div>
							<h5>Power & Energy</h5>
						</div>
						<p>Sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. Donec
							con-sequat arcu et commodo interdum. </p>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>
<!-- Services section end  -->

<!-- Features section   -->
<section class="features-section spad set-bg" data-setbg="../../../../assets/img/features-bg.jpg"
	style="background-image: url(&quot;../../../../assets/img/features-bg.jpg&quot;);">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="feature-box">
					<img class="w-25" style="height: 17em;" src="../../../../assets/img/opensource2.jpg" alt="">
					<div class="fb-text">
						
						<h5>Open Source</h5>
						
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature-box">
					<img  class="w-25" style="height: 17em;"  src="../../../../assets/img/analysis.jpg" alt="">
	
					<div class="fb-text">
						<h5>Data Analytics</h5>
						
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="feature-box">
					<img src="../../../../assets/img/UX.jpg"  style="height: 17em;"  alt="">
					<div class="fb-text">
						
						<h5>User Friendly</h5>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Features section end  -->


<!-- Clients section  -->
<section class="clients-section spad">
	<div class="container">
		<div class="client-text">
			<h2>Well Log data analysis is an open source web application to help geologists, geophysicists and any geoscience student to
				 analysis wells files data and make some decisions based on it.</h2>
		</div>
		
	</div>
</section>
<!-- Clients section end  -->


<!-- Testimonial section -->
<section class="testimonial-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 p-0">
				<div class="testimonial-bg set-bg" data-setbg="../../../../assets/img/oil_1.jpg"
					style="background-image: url(&quot;../../../../assets/img/oil_1.jpg&quot;);"></div>
			</div>
			<div class="col-lg-6 p-0">
				<div class="testimonial-box col-12">
					<div class="testi-box-warp">
						<h2>Our Vision</h2>
						<div class="testimonial-slider owl-carousel owl-loaded owl-drag">


							<div class="owl-stage-outer">
								<div class="owl-stage"	style="width: 4378px;">
								
								
									
									<div class="owl-item active">
										<div class="testimonial">
											<p>Our objective is to make well log data analysis easy for everyone. 
												Doesn’t need to pay too much for a software and go through a long process
												 for installation. Our application will be online, easy to access
												  from any device at any time without too much complexity to use. 
												  Displaying some important graphs and make some important calculations
												   on the data.
											</p>
											<img src="../../../../assets/images/Hamed.jpg" alt=""
												class="testi-thumb">
											<div class="testi-info">
												<h5>Ahmed Hamed</h5>
												<span>Software Enginner</span>
											</div>
										</div>
									</div>
									
								
								</div>
							</div>
							<!-- <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Testimonial section end  -->


<!-- Call to action section  -->
<section class="cta-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 d-flex align-items-center">
				<h2>Easy way of analysis with Good Visuals</h2>
			</div>
			<div class="col-lg-3 text-lg-right">
				<a routerLink="/contact-us" class="site-btn sb-dark">contact us</a>
			</div>
		</div>
	</div>
</section>
<!-- Call to action section end  -->

<!-- Video section  -->
<section class="video-section spad">
	<div class="container edit-Container">
		<div class="row" style="margin-bottom: 5%;">
			<div class="col-lg-6">
				<div class="video-text">
					<h2>We analyze your data with good visuals</h2>
					<p>With few clicks you can easily analyze the geologic formations 
						penetrated by a drill hole. If the hole has been drilled by using 
						coring techniques, the core provides a visual record of the formations
						 and rock types encountered. The description (log) of the core provides
						  the basic data used in geologic analysis, interpretation, and resource
						  calculations. </p>
					
					
				</div>
			</div>
			<div class="col-lg-6">
				<div class="video-box set-bg w-100" data-setbg="../../../../assets/img/welllog.gif"
					style="background-image: url(&quot;../../../../assets/img/welllog.gif&quot;);">
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Video section end  -->