.graphContainner{
    width:20%;
    min-width:200px;
    overflow:hidden; 
    float:left; 
    display:block
}

.graph{
    height:600vh; 
}

.edit{    
   overflow: hidden;
   margin-bottom: 5vh;
   margin-top: 5px;
   margin-left: 2.8vw;
}

@media (max-width: 900px) {
    .graph{
      height:100vh; 
    }
   }
   