<div *ngIf="!noDataFound" class="collapseContainer" id="accordion">
    <h1 class="header">Well Information</h1>
    <hr>

    <div class="card table-responsive">
      <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" >
            <i class="fa fa-fire" aria-hidden="true"></i>
            Well Information
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Data</th>
                    <th scope="col">Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of wellInfoToIterate">
                    <td>{{item.type == ""? "---" : item.type}}</td>
                    <td>{{item.unit == ""? "---" : item.unit}}</td>
                    <td>{{item.data == ""? "---" : item.data}}</td>
                    <td>{{item.comment == ""? "---" : item.comment}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>

    <div class="card">
      <div  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed">
            <i class="fa fa-area-chart" aria-hidden="true"></i>
            Curve Information
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Data</th>
                    <th scope="col">Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of curveInfoToIterate">
                    <td>{{item.type == ""? "---" : item.type}}</td>
                    <td>{{item.unit == ""? "---" : item.unit}}</td>
                    <td>{{item.data == ""? "---" : item.data}}</td>
                    <td>{{item.comment == ""? "---" : item.comment}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            Parameter Information
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Data</th>
                    <th scope="col">Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of parameterInfoToIterate">
                    <td>{{item.type == ""? "---" : item.type}}</td>
                    <td>{{item.unit == ""? "---" : item.unit}}</td>
                    <td>{{item.data == ""? "---" : item.data}}</td>
                    <td>{{item.comment == ""? "---" : item.comment}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="card">
        <div  data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              Other Information
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <table class="table table-hover">
                <tbody>
                  <tr *ngFor="let item of otherInfo">
                    <td>{{item}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
  </div>

  <div *ngIf="noDataFound">
    <h1 class="header">Well Information</h1>
    <hr>
    <div class="noDataFoundContainer">
        <img src="../../../../../assets/img/noDataFound.png">
        <h3>No Data found</h3>
        <button routerLink="/well-information/upload-file" class="btn btn-primary">Upload File</button>
    </div>
</div>