

  <footer class="footer-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="footer-widget about-widget">
						<h3 id="logo">Well-Log Analysis</h3>
						<p></p>
						<p>
              An open source web application to help geologists,geophysicists and any geoscience student to analysis wells files data and make some decisions based on it.
            </p>
					</div>
				</div>
			
				<div class="col-lg-4 offset-lg-1 col-md-6 col-sm-6">
					<div class="footer-widget">
						<h2 class="fw-title">Our Services</h2>
						<ul>
							<li>Display 7 types of graphs</li>
							<li>Calculate Volume of Shale</li>
							<li>Control over graphs display</li>
							<li>Support Custom Calculations</li>
							
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-7">
					<div class="footer-widget">
						<h2 class="fw-title">Contact Us</h2>
						
						<div class="footer-info-box">
							
							<div class="fib-text">
								<p>+201145226681<br>ahmedhamed111111111@gmail.com</p>
							</div>
						</div>
						
					</div>
				
				</div>
			</div>
		</div>

	<div class="footer-buttom">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 order-2 order-lg-1 p-0 offset-lg-3">
					<div class="copyright ">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Well-Log Analysis ©<script>document.write(new Date().getFullYear());</script>2020 All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> 

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
				</div>
			
			</div>
		</div>
		</div>
	</footer>
